# env files have sensitive credentials (*cough cough* bot token)
*.env

# configuration, logs, and other temp files
*.ini
*.log
tempchats

# testing directory
testing

# idk what these directories are so let's ignore them
.vscode
.venv

# per-server data
data/servers

# python things
__pycache__/
venv

# LLaMa models
models
*.gguf