# env files have sensitive credentials (*cough cough* bot token)
*.env

# configuration, logs, and other temp files
*.ini
*.log
data/tempchats

# testing directory
testing

# vs code settings
.vscode

# per-server data
data/servers

# python things
__pycache__/
.venv

# LLaMa models
models
*.gguf