# env files have sensitive credentials (*cough cough* bot token)
*.env

# configuration/logs
*.ini
*.log

# testing directory
testing

# idk what these directories are so let's ignore them
.vscode
.venv

# per-server data
data/servers

# python things
__pycache__/